body {
    margin: 24px 48px;
}

.affix-form {
    font-weight: bold;
}
/*todo class*/
.search-results li {
    margin-bottom: 8px;
}

.cebuano-stems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stem-dl {
    margin: 0;
}

.affix-roottype {
    border-bottom: 1px dotted #333;
}

.affix-label::before {
    content: "(";
}

.affix-label::after {
    content: ")";
}

.i {
    font-style: italic;
}

.form {
    font-weight: bold;
}

.search-input-wrapper {
    width: 100%;
    position: relative;
}

.pos {
    font-style: italic;
}

.number {
    font-weight: bold;
}

.number::after {
    content: '.';
}

.sense {
    /*display: block;*/
}

.mdc-textfield {
    margin-bottom: 8px;
    max-width: 100%;
}

.mdc-textfield__input {
    max-width: 100%;
    width: 600px;
}

.tex-ast {
    font-family: KaTeX_Main, Georgia, serif;
}

.tex-ast > ol {
    padding-left: 0;
}

.tex-ast ol {
    list-style: none;
}

.node-label {
    padding: 8px 0;
}

.node-label:hover {
    background: #eee;
    cursor: pointer;
}

.error {
    font-weight: bold;
    color: #ca0026;
}
