.idea/
node_modules/
*.tgz
dist/
npm-debug.log
/cebuano-stemmer.*.min.*
secret.js
dictionary_data/cebuano_dictionary
dictionary_data/entries
dictionary-data/cebuano_dictionary
dictionary-data/entries
ts-compiled
ts-compiled-webpack