<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.bohol.dictionaryapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ph.bohol.dictionaryapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ph.bohol.dictionaryapp.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName="ph.bohol.dictionaryapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ph.bohol.dictionaryapp.MainActivity" />
        </activity>
        <activity
            android:name="ph.bohol.dictionaryapp.TestActivity"
            android:label="@string/test_activity"
            android:parentActivityName="ph.bohol.dictionaryapp.TestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ph.bohol.dictionaryapp.MainActivity" />
        </activity>
    </application>
    
</manifest>
